<%- include('partials/header'); -%>

<h1>Compose</h1>
<br>

<form action="/compose" method="post">
    <div class="mb-3 form-group">
        <label class="form-label" for="postTitle">Title</label>
        <input class="form-control" type="text" name="postTitle" autocomplete="off">
        <label class="form-label" for="postBody">Post</label>
        <textarea class="form-control" name="postBody" autocomplete="off" cols="30" rows="5"></textarea>
    </div>
    <button class="btn btn-primary mt-4" type="submit">Publish</button>
</form>





<%- include('partials/footer'); -%>